/*------------------------------------------------------------------
[Table of contents]
0. Global
1. Top menu
2. Main header
3. Home slider

4. Styles for devices(>1200px)
5. Styles for devices(>=992px and <=1199px)
6. Styles for devices(>=768px and <=992px)
7. Styles for devices(>=481px and <=767px)
8. Styles for devices(<=480px)

-------------------------------------------------------------------*/
/*---------------
[0. Global]
*/
.option3 .product-list li .product-price {
	color: #0088cc;
}
.option3 a:hover{
	color: #0088cc;
}
.option3 .scroll_top:hover{
	background: #0088cc;
}
.option3 .nav-center .owl-controls .owl-prev,
.option3 .nav-center .owl-controls .owl-next{
	-moz-transition: all 0.45s ease;
	-webkit-transition: all 0.45s ease;
	-o-transition: all 0.45s ease;
	-ms-transition: all 0.45s ease;
	transition: all 0.45s ease;
	opacity: 0;
	visibility: hidden;

}
.option3 .nav-center .owl-controls .owl-prev{
	left: -30px;
}
.option3 .nav-center .owl-controls .owl-next{
	right: -30px;
}
.option3 .nav-center.owl-loaded:hover .owl-next {
	right: 0;
	visibility: inherit;
	opacity: 1;
}
.option3 .nav-center.owl-loaded:hover .owl-prev {
	left: 0;
	visibility: inherit;
	opacity: 1;
}

.option3 .owl-controls .owl-prev:hover,
.option3 .owl-controls .owl-next:hover {
	/*background: #0088cc;*/
	color: #fff;
}
.option3 .product-list li .add-to-cart:hover {
	background-color: #0088cc;
}

.option3 .product-list li .quick-view a:hover{
	/*background-color: #0088cc;*/
}
/*---------------
[1. Top menu]
*/
.option3 .navbar-right{
	margin-right: 0;
}
.option3 .link-buytheme .fa{
	line-height: inherit;
	color: #0088cc;
}
.option3 .logo{
	margin-top: -20px;
}
.option3 .main-header{
	padding-bottom: 25px;
	padding-top: 25px;
}
.option3 .top-header .dropdown-menu{
	border-top: 2px solid #0088cc;
}
.option3 #user-info-opntop .dropdown-menu{
	border-top: 2px solid #0088cc;
}
.option3 .main-header .header-search-box .form-inline{
	border: 2px solid #0088cc;
}
.option3 .main-header .header-search-box .form-inline .select2{
	border-right: none;
}
.option3 .main-header .header-search-box .form-inline .form-category {
	height: 37px;
}
.option3 .main-header .header-search-box .form-inline .btn-search{
	background: #0088cc url("../images/search.png") no-repeat center center;
	width: 40px;
	height: 40px;
}
.option3 .main-header .header-search-box{
	padding: 0 15px;
	margin-top: 10px;
}
.option3 .main-header .shopping-cart-box{
	padding: 0 15px;
	margin: 0;
	margin-top: 10px;
}

.option3 .main-header-top-link li{
	display: inline;
	float: left;
}
.option3 .main-header-top-link li>a{
	padding: 0 5px;
	border-right: 1px solid #e4e4e4;
}
.option3 .main-header-top-link li:first-child>a{
	padding-left: 0;
}
.option3 .main-header-top-link li:last-child>a{
	padding-right: 0;
	border-right: none;
}
/*---------------
[2. Main header]
*/
.option3 .group-button-header{
	margin-top: 10px;
}
.option3 .group-button-header .btn-cart,
.option3 .group-button-header .btn-heart,
.option3 .group-button-header .btn-compare,
.option3 .group-button-header .btn-login{
	width: auto;
	float: right;
	text-indent: inherit;
	padding-left: 30px;
	padding-top: 19px;
}
.option3 .group-button-header .btn-heart{
	background: url("../images/heart-icon.png") no-repeat center left;
	font-size: 14px;
}
.option3 .group-button-header .btn-login{
	background: url("../images/user-icon.png") no-repeat center left;
	font-size: 14px;
	height: 39px;
	margin-right: 16px;
}
.option3 .group-button-header .btn-cart{
	background: url("../images/cart-icon.png") no-repeat center left;
	font-size: 14px;
	margin-right: 0;
}
.option3 .group-button-header .btn-cart>a{
	font-size: 14px;
}
.option3 .group-button-header .btn-cart .notify-right{
	right: -6px;
	top: 0;
}
.option3 span.notify-right{
	background: url('../images/notify-right-red.png') no-repeat;
}
.header-text{
	font-size: 13px;
	text-align: right;
}
.header-text .fa{
	line-height: inherit;
	font-size: 14px;
	color: #f9d717;
	margin-top: -1px;
}
.option3 .nav-top-menu{
	background: none;
}
.option3 .box-vertical-megamenus .title{
	height: 40px;
	line-height: 40px;
	background: #0088cc;
}
.option3 .box-vertical-megamenus .title .btn-open-mobile{
	line-height: 40px;
}
.option3 .main-menu .navbar{
	min-height: 40px;
}
.option3 #main-menu .navbar .navbar-nav>li>a{
	margin: 14px 0;
	padding: 0 10px;
	text-transform: uppercase;
	line-height: 11px;
}
.option3 #main-menu .navbar .navbar-nav>li:hover,
.option3 #main-menu .navbar .navbar-nav>li.active{
	background: transparent;
	color: #0088cc;
}
.option3 #main-menu .navbar .navbar-nav>li:hover>a,
.option3 #main-menu .navbar .navbar-nav>li.active>a{
	color: #0088cc;
	border-right: 1px solid #cacaca;
}
.option3 #main-menu .navbar .navbar-nav>li:last-child>a,
.option3 #main-menu .navbar .navbar-nav>li.active:last-child>a{
	border: none;
	padding-right: 0;
}

.option3 #main-menu .navbar-nav > li:hover .dropdown-menu {
	-webkit-transform: translate(0,-1px);
	-moz-transform: translate(0,-1px);
	-o-transform: translate(0,-1px);
	-ms-transform: translate(0,-1px);
	transform: translate(0,-1px);
	opacity: 1;
	visibility: visible;
}
.option3 #main-menu .navbar .navbar-nav>li.dropdown:after{
	content: '';
	width: 100%;
	height: 5px;
	left: 0;
	right: 0;
	top: inherit;
	bottom: -5px;
	position: absolute;
}

.option3 .nav-ontop{
	height: 40px;
	background: #0088cc;
}
.option3 .nav-ontop #box-vertical-megamenus .title {
	background: #0088cc;
	color: #fff;
	border:none;
}
.option3 .box-vertical-megamenus .vertical-menu-content{
	border-top: none;
}
.option3 .box-vertical-megamenus .vertical-menu-list {
	padding-top: 4px;
}
.option3 .box-vertical-megamenus .vertical-menu-list li{
	border: none;
	padding: 0 20px;
}
.option3 .box-vertical-megamenus .vertical-menu-list li:last-child>a{
	border:none;
}
.option3 .box-vertical-megamenus .vertical-menu-list>li>a{
	border:none;
	padding-left: 0;
	border-bottom: 1px dotted #eaeaea;
	line-height: 36px;
}
.option3 .box-vertical-megamenus .vertical-menu-list>li:hover {
	background: #0088cc;
}
.option3 .box-vertical-megamenus .vertical-menu-list>li:hover>a{
	border-color: transparent;
}
.option3 .box-vertical-megamenus .vertical-menu-list>li:hover{
	border-left: none;
}
.option3 .box-vertical-megamenus .vertical-menu-list>li:hover>a{
	border-top: none;
}
.option3 .box-vertical-megamenus .all-category{
	margin-top: 0px;
	padding-right: 0;
}
.option3 .box-vertical-megamenus .all-category:hover>span{
	background:#0088cc;
	border-color: #0088cc;
}
.option3 .box-vertical-megamenus .all-category span:after{
	content: "\f101";
	font-size: 16px;
	font-weight: normal;
}
.option3 .box-vertical-megamenus .vertical-menu-content{
	/*padding-bottom: 31px;*/
}
.option3 #main-menu .dropdown-menu .block-container .group_header>a {
	border-color: #0088cc;
}
.option3 .box-vertical-megamenus .vertical-menu-content ul>li>a.parent:before{
	right: 20px;
}
.option3 .vertical-dropdown-menu .mega-products .mega-product .product-price .new-price{
	color: #0088cc;
}
.option3 .cart-block .cart-block-content .product-info .p-right .p-rice{
	color: #0088cc;
}
.option3 .cart-block .cart-block-content .cart-buttons a.btn-check-out{
	background: #0088cc;
}
.option3 .nav-ontop #box-vertical-megamenus {
	width: 60px;
}
.option3 .nav-ontop #main-menu .navbar .navbar-nav>li>a{
	color: #fff;
	border-right:none;
}
.option3 .nav-ontop #main-menu .navbar .navbar-nav>li:hover,
.option3 .nav-ontop #main-menu .navbar .navbar-nav>li.active{
	background: #31a5df;
	color: #0088cc;
}
.option3 .nav-ontop #main-menu .navbar .navbar-nav>li:hover>a,
.option3 .nav-ontop #main-menu .navbar .navbar-nav>li.active>a{
	color: #fff;
}

.option3 #form-search-opntop{
	height: 40px;
}
.option3 #form-search-opntop form{
	margin-top: 4px;
	color: #fff;
}
.option3 #form-search-opntop .btn-search:before {
	color: #fff;
}
.option3 #form-search-opntop:hover form {
	border: 1px solid #cacaca;
	background: #31a5df;
}
.option3 #form-search-opntop ::-webkit-input-placeholder {
	color: #fff;
}

.option3 #form-search-opntop :-moz-placeholder { /* Firefox 18- */
	color: #fff;
}

.option3 #form-search-opntop ::-moz-placeholder {  /* Firefox 19+ */
	color: #fff;
}

.option3 #form-search-opntop :-ms-input-placeholder {
	color: #fff;
}
.option3 #user-info-opntop,
.option3 #user-info-opntop .dropdown,
.option3 #user-info-opntop a.current-open{
	height: 40px;
}
.option3 #user-info-opntop a.current-open{
	padding-top: 12px;
}
.option3 #user-info-opntop a.current-open:before{
	color: #fff;
}
.option3 #user-info-opntop .dropdown-menu {
	top: 40px;
}
.option3 #shopping-cart-box-ontop {
	height: 40px;
}
.option3 #shopping-cart-box-ontop .fa{
	line-height: 40px;
	color: #fff;
}

/*---------------
/*[3. Home slider]*/
.option3 .header-top-right{
	border-top: none;
}
.option3 .header-top-right .homeslider {
	width: 100%;
}
.option3 .header-top-right .homeslider .bx-controls-direction .bx-prev,
.option3 .header-top-right .homeslider .bx-controls-direction .bx-next{
	background: #0088cc;
}
.option3 .header-top-right .homeslider .bx-wrapper .bx-pager.bx-default-pager a:hover,
.option3 .header-top-right .homeslider .bx-wrapper .bx-pager.bx-default-pager a.active{
	background: #0088cc;
}

.option3 .box-vertical-megamenus .vertical-menu-list {
	padding-top: 4px;
}
.option3 .box-vertical-megamenus .vertical-menu-list li{
	border: none;
	padding: 0 20px;
}
.option3 .box-vertical-megamenus .vertical-menu-list>li:hover{
	background: #0088cc;
}
.option3 .box-vertical-megamenus .vertical-menu-list>li:hover>a{
	color: #fff;
	border-color: transparent;
}
.option3 .box-vertical-megamenus .vertical-menu-list>li:hover>a:before{
	color: #fff;
}
.option3 .box-vertical-megamenus .vertical-menu-list:li:last-child>a{
	border:none;
}
.option3 .box-vertical-megamenus .vertical-menu-list>li>a{
	border:none;
	padding-left: 0;
	border-bottom: 1px dotted #eaeaea;
	line-height: 36px;
}
.option3 .box-vertical-megamenus .vertical-menu-list li:hover{
	border-left: none;
}
.option3 .box-vertical-megamenus .vertical-menu-list li:hover>a{
	border-top: none;
}
.option3 .box-vertical-megamenus .all-category{
	margin-top: 0px;
	padding-right: 0;
}
.option3 .vertical-dropdown-menu .mega-group-header span{
	border-color: #0088cc;
}
.option3 .box-vertical-megamenus .all-category span:hover{
	background:#0088cc;
	color: #fff;
	border-color: #0088cc;
}
.option3 .box-vertical-megamenus .all-category span:after{
	content: "\f101";
	font-size: 16px;
	font-weight: normal;
}
.option3 .box-vertical-megamenus .vertical-menu-content ul>li>a.parent:before{
	right: 20px;
}
.option3 .vertical-dropdown-menu .mega-products .mega-product .product-price .new-price{
	color: #f96d10;
}
.option3 .cart-block .cart-block-content .cart-buttons a.btn-check-out{
	background: #0088cc;
}

.option3 .page-heading{
	font-size: 16px;
	font-weight: bold;
}
.option3 .page-heading span.page-heading-title{
	border-bottom: 3px solid #0088cc;
}

.option3 .owl-controls .owl-prev:hover,
.option3 .owl-controls .owl-next:hover {
	background: #0088cc;
	color: #fff;
}

.option3 .content-page {
	background: #eaeaea;
}
.option3 #main-menu .dropdown-menu .block-container .group_header>a{
	border-color: #0088cc;
}
/*}*/

/** REPONSIVE **/
/*----------------
[4. Styles for devices(>1200px)]
*/
@media (min-width: 1201px){

}
/*----------------
[5. Styles for devices(>=993px and <=1200px)]
*/
@media (min-width: 993px) and (max-width: 1200px) {
	.option3 #home-slider .header-top-right .homeslider,
	.option3 #home-slider .header-top-right .header-banner{
		border:none;
	}

	.option3 #main-menu .navbar .navbar-nav>li>a{
		font-size: 13px;
		border:none;
		padding: 0 7px;
	}
	.option3 #main-menu .navbar .navbar-nav>li:hover>a,
	.option3 #main-menu .navbar .navbar-nav>li.active>a{
		border: none;
	}
}
/*--------------------
[6. Styles for devices(>=768px and <=992px)]
*/
@media (min-width: 768px) and (max-width: 992px) {
	.option3 .logo{
		margin-top: 25px;
	}

	.option3 .main-header .header-search-box{
		margin-top: 25px;
	}
	.option3 .group-button-header {
		margin-top: 25px;
	}
	.option3 #box-vertical-megamenus{
		width: 40px;
		display: none;
	}
	.option3 #main-menu .navbar .navbar-nav>li>a{
		padding: 0 10px;
		border-left: none;
		font-size: 13px;
	}
	.option3 #main-menu{
		margin: 0;
		padding-left: 15px;
		width: auto;
	}
	.option3 .navbar-right{
		display: none;
	}
	.option3 .box-vertical-megamenus .title-menu{
		display: none;
	}
	.option3 .box-vertical-megamenus .title .btn-open-mobile{
		margin-left: -7px;
		float: left!important;
	}
	.option3 #form-search-opntop,
	.option3 #user-info-opntop,
	.option3 #shopping-cart-box-ontop{
		display: none;
	}
	.option3 .header-top-right .header-banner{
		display: none;
	}



}
/*--------------------
[7. Styles for devices(>=481px and <=767px)]
*/
@media (min-width: 481px) and (max-width: 767px) {
	.option3 .top-main-header{
		display: none;
	}
	.option3 .group-button-header{
		width: 100%;
		margin-top: 25px;
	}
	.option3 .logo {
		margin-top: 0;
	}
	.option3 .main-header .header-search-box{
		margin-top: 25px;
	}
	.option3 #main-menu .navbar-header .navbar-brand{
		line-height: 40px;
		min-height: 40px;
	}
	.option3 #main-menu .navbar-header .navbar-toggle{
		margin-top: 7px;
		padding: 0;
	}
	.option3 #main-menu .navbar-header{
		height: 40px;
	}
	.option3 .navbar-brand{
		height: auto;
	}
	.option3 #main-menu .navbar .navbar-nav>li:hover>a,
	.option3 #main-menu .navbar .navbar-nav>li.active>a{
		border-right: none;
	}
	.option3 #main-menu li.dropdown>a:after{
		top: 0;
	}

	.block-banner .block-banner-left,
	.block-banner .block-banner-right {
		width: 100%;
		padding: 0;
	}
	.block-banner .block-banner-right{
		margin-top: 10px;
	}

	.option3 #home-slider .slider-left{
		display: none;
	}
}
/*--------------------
[8. Styles for devices(<=480px)]
*/
@media (max-width: 480px) {
	.option3 .top-main-header{
		display: none;
	}
	.option3 .group-button-header{
		width: 100%;
		margin-top: 25px;
	}
	.option3 .logo {
		margin-top: 0;
	}
	.option3 .main-header .header-search-box{
		margin-top: 25px;
	}
	.option3 #main-menu .navbar-header .navbar-brand{
		line-height: 40px;
		min-height: 40px;
	}
	.option3 #main-menu .navbar-header .navbar-toggle{
		margin-top: 7px;
		padding: 0;
	}
	.option3 #main-menu .navbar-header{
		height: 40px;
	}
	.option3 .navbar-brand{
		height: auto;
	}

	.option3 #main-menu .navbar .navbar-nav>li:hover>a,
	.option3 #main-menu .navbar .navbar-nav>li.active>a{
		border-right: none;
	}
	.option3 #main-menu li.dropdown>a:after{
		top: 0;
	}
	#main-menu li.dropdown>a:after{

	}
	.option3 #home-slider .slider-left{
		display: none;
	}


	.block-banner .block-banner-left,
	.block-banner .block-banner-right {
		width: 100%;
		padding: 0;
	}
	.block-banner .block-banner-right{
		margin-top: 10px;
	}

}

/*
[5. Category featured]
*/

.option3 .show-brand .navbar-brand{
	width: 200px;
	position: relative;
	padding-left: 10px;
	font-family: 'Arial Narrow', Arial, sans-serif;
	font-size: 22px;
	font-weight: normal;
}
.option3 .show-brand .navbar-brand img{
	margin-right: 10px;
	margin-top: -5px;
}
.option3 .show-brand .navbar-brand>a:hover{
	color: #fff;

}
.option3 .show-brand .navbar-brand:after{
	content: '';
	width: 12px;
	height: 20px;
	position: absolute;
	right: 5px;
	color: #fff;
	font-weight: normal;
	background: url("../images/icon-angle-right.png") no-repeat right center;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.option3 .nav-menu{
	margin-bottom: 0;
}
.option3 .nav-menu .nav>li>a{
	background: none;
	padding: 14px 15px;
	margin-left: 10px;
}
.option3 .nav-menu .nav>li>a:after{
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f0d8";
	position: absolute;
	bottom: -40px;
	left: 50%;
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	color: #fff;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	opacity: 0;
	visibility: hidden;
}
.option3 .nav-menu .nav>li>a:before{
	content: '';
	width: 100%;
	height: 1px;
	background: #fa8334;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	transform: scale(0, 1);
}
.option3 .nav-menu .navbar-collapse {
	background: #fff;
	border-bottom: 2px solid #fa8334;
}
.option3 .nav-menu .nav>li:hover a,
.option3 .nav-menu .nav>li.active a{
}

.option3 .nav-menu .nav>li:hover a:before,
.option3 .nav-menu .nav>li.active a:before{
	transform: scale(1);
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.option3 .nav-menu .nav>li:hover a:after,
.option3 .nav-menu .nav>li.active a:after{
	color: #fa8334;
	bottom: -6px;
	opacity: 1;
	visibility: inherit;
}

.option3 .product-featured{
	margin-top: 0;
}
.option3 .product-featured .sub-category-list{
	float: left;
	padding: 20px 20px;
	line-height: 25px;
	background: #fff;
}
.option3 .product-featured .product-featured-tab-content{
}
.option3 .product-featured .product-featured-tab-content .box-left{
	width: 40%;
	float: left;
	border-left: 1px solid #eaeaea;
}
.option3 .product-featured .product-featured-tab-content .box-right{
	width: 60%;
	float: left;
}
.option3 .product-featured .product-featured-tab-content .box-full{
	width: 100%;
	float: left;
	border-left: 1px solid #eaeaea;
}
.option3 .product-featured .product-featured-tab-content .box-full .product-list li{
	width: 20%;
	float: left;
	border-bottom: none;
}
.option3 .product-featured .product-featured-tab-content .category-banner{
	padding-right: 0;
}
.option3 .product-featured .product-featured-tab-content .category-banner img{

}
.option3 .product-featured .product-featured-tab-content .category-list-product{
	padding-left: 0;
}
.option3 .product-featured .product-list{
	margin-left: 0;
	margin-right: 0;

}
.option3 .product-featured .product-list li{
	padding: 0;
	min-height: inherit;
	border-right: 1px solid #eaeaea;
	border-top: 1px solid #eaeaea;
}

.option3 .product-featured .box-product-adv .owl-prev,
.option3 .product-featured .box-product-adv .owl-next {
	width: 28px;
	height: 28px;
}
.option3 .product-featured .owl-next{
	background: url("../images/next.png") no-repeat center center;
}
.option3 .product-featured .owl-prev{
	background: url("../images/prev.png") no-repeat center center;
}
.option3 .product-featured .owl-prev .fa,
.option3 .product-featured .owl-next .fa{
	font-weight: normal;
	line-height: 0px;
	display: none;
}

/*OWL CARESOL PREV NEXT BACKGROUND*/
.option3 .product-featured .owl-prev:hover{
	background: url("../images/prev.png") no-repeat center center;
}

.option3 .product-featured .owl-next:hover{
	background: url("../images/next.png") no-repeat center center;
}

.option3 .product-featured .deal-product{
	line-height: 24px;
	border-right: 1px solid #eaeaea;
	overflow: hidden;
	padding-bottom: 23px;
}
.option3 .product-featured .deal-product .deal-product-head{
	text-align: center;
}
.option3 .product-featured .deal-product .deal-product-head h3{
	position: relative;
	z-index: 1;
	margin-top: 15px;
}
.option3 .product-featured .deal-product .deal-product-head h3:before{
	border-top: 1px solid #eaeaea;
	content:"";
	margin: 0 auto; /* this centers the line to the full width specified */
	position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
	top: 40%; left: 40px; right: 40px; bottom: 0;
	width: 95%;
	z-index: -1;
	width: 300px;/*
    -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);*/
}
.option3 .product-featured .deal-product .deal-product-head h3>span{
	background: #fff;
	padding: 0 5px;
	font-size: 14px;
	font-weight: bold;
}
.option3 .product-featured .deal-product .deal-product-content .deal-product-info{
	padding-left: 0;
}
.option3 .product-featured .deal-product .deal-product-content{
	margin-top: 10px;
}
.option3 .product-featured .deal-product .price{
	margin-top: 4px;
}
.option3 .product-featured .deal-product .price span{
	margin-right: 10px;
}
.option3 .product-featured .deal-product .price .product-price{
	color: #958457;
	font-size: 18px;
}
.option3 .product-featured .deal-product .price .old-price{
	text-decoration: line-through;
}
.option3 .product-featured .deal-product .price .sale-price{
	background: url("../images/sale-bg.png") no-repeat;
	color: #fff;
	padding: 0 7px;
}
.option3 .product-featured .deal-product .product-star{
	color: #febf2b;
	margin-top: 15px;
}
.option3 .product-featured .deal-product .product-desc{
	margin-top: -3px;
}
.option3 .product-featured .deal-product .show-count-down{
	overflow: hidden;
	margin-top: 11px;
	font-family: 'Arial Narrow', Arial, sans-serif;
	line-height: normal;
}
.option3 .product-featured .deal-product .show-count-down .dot{
	display: none;
}
.option3 .product-featured .deal-product .show-count-down .box-count{
	font-size: 20px;
	color: #717171;
	background: #f6f6f6;
	text-align: center;
	width: 45px;
	height: 47px;
	display: table-cell;
	float: left;
	margin-right: 5px;
}
.option3 .product-featured .deal-product .show-count-down .box-count .number{
	width: 45px;
	font-size: 18px;
	display: table;
	margin-top: 4px;
}
.option3 .product-featured .deal-product .show-count-down .box-count .text{
	width: 45px;
	font-size: 14px;
	display: table;
}
.option3 .product-featured .manufacture-list{
	padding-right: 0;
	float: left;
	overflow: hidden;
}
.option3 .product-featured .manufacture-list .manufacture-waper{
	border: 1px solid #eaeaea;
	padding: 44px 0px 44px 0;
	border-top: none;
	position: relative;
	border-bottom: none;
}
.option3 .product-featured .manufacture-list .manufacture-waper ul{
	padding: 0 20px;
	background: #fff;
}

.option3 .product-featured .manufacture-list .manufacture-waper .owl-prev{
	position: absolute;
	top: -16px;
	left: 0;
	right: 0;
	border-bottom: 1px solid #eaeaea;
}
.option3 .product-featured .manufacture-list .manufacture-waper .owl-next{
	position: absolute;
	bottom: -64px;
	top: inherit;
	left: 0;
	right: 0;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	padding-top: 12px;
	height: 42px;
}
.option3 .product-featured .manufacture-list .manufacture-waper .owl-controls .owl-nav{
	margin: 0;
	padding: 0;
}
.option3 .product-list li .add-to-cart:hover{
	opacity: 1;
}
/*.option3 .product-list li .add-to-cart a {*/
	/*background: url("../images/icon-cart-option2.png") no-repeat left center;*/
/*}*/
.option3 .product-list li .quick-view a.compare:before{
	content: "\f066";
}

/** OPTION CATEGORY **/

.option3 .category-featured.fashion .sub-category-list a:hover{
	color: #0088cc;
}
.option3 .category-featured.fashion .navbar-brand{
	/*padding-left: 70px;*/
	/*padding-right: 72px;*/
	width: 118%;
}

.option3 .category-featured.fashion .navbar-brand a{
	/*margin:0px;*/
	/*float:left;*/
	color: #fff;
	margin-left: 25px;
}
/*.option3 .category-featured.fashion .navbar-brand a:hover{*/

/*}*/
.option3 .category-featured.fashion .nav-menu .navbar-collapse {
	background: #fff;
	border-bottom: 2px solid #0088cc;
}
.option3 .category-featured.fashion .nav-menu .nav>li:hover a,
.option3 .category-featured.fashion .nav-menu .nav>li.active a{
	color: #0088cc;
}

.option3 .category-featured.fashion .nav-menu .nav>li:hover a:after,
.option3 .category-featured.fashion .nav-menu .nav>li.active a:after{
	color: #0088cc;
}

.option3 .category-featured.fashion .nav-menu .nav>li>a:before{
	background: #0088cc;
}

/*.option3 .category-featured.fashion .product-list li .add-to-cart {*/
	/*background-color: rgba(255, 51, 102, 0.7);*/
	/*background: rgba(255, 51, 102, 0.7);*/
	/*color: rgba(255, 51, 102, 0.7);*/
/*}*/
/*.option3 .category-featured.fashion .product-list li .add-to-cart:hover {*/
	/*background: #ff3366;*/
/*}*/

/*.option3 .category-featured.fashion .product-list li .quick-view a.search:hover,*/
/*.option3 .category-featured.fashion .product-list li .quick-view a.compare:hover,*/
/*.option3 .category-featured.fashion .product-list li .quick-view a.heart:hover{*/
	/*background-color: #ff3366;*/
	/*opacity: 0.9;*/
/*}*/

/** sports **/
.option3 .category-featured.sports .sub-category-list a:hover{
	color: #00a360;
}
.option3 .category-featured.sports .navbar-brand{
	background: #00a360;
}
.option3 .category-featured.sports .navbar-brand a:hover{
	color: #fff;
}
.option3 .category-featured.sports .nav-menu .navbar-collapse {
	background: #fff;
	border-bottom: 2px solid #00a360;
}
.option3 .category-featured.sports .nav-menu .nav>li:hover a,
.option3 .category-featured.sports .nav-menu .nav>li.active a{
	color: #00a360;
}
.option3 .category-featured.sports .nav-menu .nav>li:hover a:after,
.option3 .category-featured.sports .nav-menu .nav>li.active a:after{
	color: #00a360;
}

.option3 .category-featured.sports .nav-menu .nav>li>a:before{
	background: #00a360;
}

.option3 .category-featured.sports .product-list li .add-to-cart {
	background-color: rgba(0, 163, 96, 0.7);
	background: rgba(0, 163, 96, 0.7);
	color: rgba(0, 163, 96, 0.7);
}
.option3 .category-featured.sports .product-list li .add-to-cart:hover {
	background: #00a360;
}
.option3 .category-featured.sports .product-list li .quick-view a.search:hover,
.option3 .category-featured.sports .product-list li .quick-view a.compare:hover,
.option3 .category-featured.sports .product-list li .quick-view a.heart:hover{
	background-color: #00a360;
	opacity: 0.9;
}

/** electronic **/
.option3 .category-featured.electronic .sub-category-list a:hover{
	color: #0090c9;
}
.option3 .category-featured.electronic .navbar-brand{
	background: #0090c9;
}
.option3 .category-featured.electronic .navbar-brand a:hover{
	color: #fff;
}
.option3 .category-featured.electronic .nav-menu .navbar-collapse {
	background: #fff;
	border-bottom: 2px solid #0090c9;
}
.option3 .category-featured.electronic .nav-menu .nav>li:hover a,
.option3 .category-featured.electronic .nav-menu .nav>li.active a{
	color: #0090c9;
}
.option3 .category-featured.electronic .nav-menu .nav>li>a:before{
	background: #0090c9;
}
.option3 .category-featured.electronic .nav-menu .nav>li:hover a:after,
.option3 .category-featured.electronic .nav-menu .nav>li.active a:after{
	color: #0090c9;
}

.option3 .category-featured.electronic .product-list li .add-to-cart {
	background-color: rgba(0, 144, 201, 0.7);
	background: rgba(0, 144, 201, 0.7);
	color: rgba(0, 144, 201, 0.7);
}
.option3 .category-featured.electronic .product-list li .add-to-cart:hover {
	background-color: #0090c9;
}
.option3 .category-featured.electronic .product-list li .quick-view a.search:hover,
.option3 .category-featured.electronic .product-list li .quick-view a.compare:hover,
.option3 .category-featured.electronic .product-list li .quick-view a.heart:hover{
	background-color: #0090c9;
	opacity: 0.9;
}
/** digital **/
.option3 .category-featured.digital .sub-category-list a:hover{
	color: #3f5eca;
}
.option3 .category-featured.digital .navbar-brand{
	background: #3f5eca;
}
.option3 .category-featured.digital .navbar-brand a:hover{
	color: #fff;
}
.option3 .category-featured.digital .nav-menu .navbar-collapse {
	background: #fff;
	border-bottom: 2px solid #3f5eca;
}
.option3 .category-featured.digital .nav-menu .nav>li:hover a,
.option3 .category-featured.digital .nav-menu .nav>li.active a{
	color: #3f5eca;
}
.option3 .category-featured.digital .nav-menu .nav>li>a:before{
	background: #3f5eca;
}
.option3 .category-featured.digital .nav-menu .nav>li:hover a:after,
.option3 .category-featured.digital .nav-menu .nav>li.active a:after{
	color: #3f5eca;
}
.option3 .category-featured.digital .product-list li .add-to-cart {
	background-color: rgba(63, 94, 202, 0.7);
	background: rgba(63, 94, 202, 0.7);
	color: rgba(63, 94, 202, 0.7);
}
.option3 .category-featured.digital .product-list li .add-to-cart:hover {
	background-color: #3f5eca;
}
.option3 .category-featured.digital .product-list li .quick-view a.search:hover,
.option3 .category-featured.digital .product-list li .quick-view a.compare:hover,
.option3 .category-featured.digital .product-list li .quick-view a.heart:hover{
	background-color: #3f5eca;
	opacity: 0.9;
}
/** furniture **/
.option3 .category-featured.furniture .sub-category-list a:hover{
	color: #669900;
}
.option3 .category-featured.furniture .navbar-brand{
	background: #669900;
}
.option3 .category-featured.furniture .navbar-brand a:hover{
	color: #fff;
}
.option3 .category-featured.furniture .nav-menu .navbar-collapse {
	background: #fff;
	border-bottom: 2px solid #669900;
}
.option3 .category-featured.furniture .nav-menu .nav>li:hover a,
.option3 .category-featured.furniture .nav-menu .nav>li.active a{
	color: #669900;
}
.option3 .category-featured.furniture .nav-menu .nav>li>a:before{
	background: #669900;
}
.option3 .category-featured.furniture .nav-menu .nav>li:hover a:after,
.option3 .category-featured.furniture .nav-menu .nav>li.active a:after{
	color: #669900;
}

.option3 .category-featured.furniture .product-list li .add-to-cart {
	background-color: rgba(102, 153, 0, 0.7);
	background: rgba(102, 153, 0, 0.7);
	color: rgba(102, 153, 0, 0.7);
}
.option3 .category-featured.furniture .product-list li .add-to-cart:hover {
	background-color: #669900;
}

.option3 .category-featured.furniture .product-list li .quick-view a.search:hover,
.option3 .category-featured.furniture .product-list li .quick-view a.compare:hover,
.option3 .category-featured.furniture .product-list li .quick-view a.heart:hover{
	background-color: #669900;
	opacity: 0.9;
}

/** jewelry **/
.option3 .category-featured.jewelry .sub-category-list a:hover{
	color: #6d6855;
}
.option3 .category-featured.jewelry .navbar-brand{
	background: #6d6855;
}
.option3 .category-featured.jewelry .navbar-brand a:hover{
	color: #fff;
}
.option3 .category-featured.jewelry .nav-menu .navbar-collapse {
	background: #fff;
	border-bottom: 2px solid #6d6855;
}
.option3 .category-featured.jewelry .nav-menu .nav>li:hover a,
.option3 .category-featured.jewelry .nav-menu .nav>li.active a{
	color: #6d6855;
}
.option3 .category-featured.jewelry .nav-menu .nav>li>a:before{
	background: #6d6855;
}
.option3 .category-featured.jewelry .nav-menu .nav>li:hover a:after,
.option3 .category-featured.jewelry .nav-menu .nav>li.active a:after{
	color: #6d6855;
}
.option3 .category-featured.jewelry .product-list li .add-to-cart {
	background-color: #6d6855;
}
.option3 .category-featured.jewelry .product-list li .add-to-cart {
	background-color: rgba(109, 104,85, 0.7);
	background: rgba(109, 104,85, 0.7);
	color: rgba(109, 104,85, 0.7);
}
.option3 .category-featured.jewelry .product-list li .add-to-cart:hover {
	background-color: #6d6855;
}

.option3 .category-featured.jewelry .product-list li .quick-view a.search:hover,
.option3 .category-featured.jewelry .product-list li .quick-view a.compare:hover,
.option3 .category-featured.jewelry .product-list li .quick-view a.heart:hover{
	background-color: #6d6855;
	opacity: 0.9;
}
/****/

/*-----------------*/
.box-product-adv {
	width: 384px;
	float: left;
}